# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Django
# =========================
*.log
db.sqlite3
db.sqlite3-journal

# =========================
# Media / User Uploaded Files
# =========================
media/

# =========================
# Static files
# =========================
staticfiles/
static/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Coverage / Testing
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Temporary files
# =========================
*.tmp
*.temp